/* .element{
    height:400px;
    width:400px;
    margin: 300px auto;
    background-color: blanchedalmond;
    transition-duration: 3s;
    transition-delay: 5s;
}

.element:hover{
    transform: rotate(60deg);
    background-color: blueviolet;
    
} */


.container{
    width:1000px;
    height: 100px;
    border: solid black 1px;
    margin: 100px auto;
}

.element{
    width:50px;
    height: 100%;
    background-color: gold;
    transition-duration: 3s;
    transition-timing-function:cubic-bezier(0.8, 1, 0.9, -0.7)
}

.element:hover{
    width: 100%;
}