.element{
    height:500px;
    width: 500px;
    margin: 100px auto;
    background-color: blanchedalmond;
    border: 1px solid black;
    /* transform: rotateZ(45deg); */
    /* transform: rotateY(45deg);
    transform: rotateX(60deg); */

    /* transform: translateX(200px) translateY(200px); */
}